In [44]:
import json 
from IPython.display import display
!pip install git+https://github.com/djcunningham0/multielo.git

import pandas as pd
#from google.colab.data_table import DataTable
#DataTable.max_columns = 45


gameLogFile = open("../simulations/simulation.simulation",'r')

contractNames = gameLogFile.readline().split(',')
from itertools import zip_longest

contractNames
finishes = []

for l in  zip_longest(*[gameLogFile] * 4):
    finishes.append([l[0].strip().split(","),l[1].strip().split(","),l[2].strip().split(",")])

Collecting git+https://github.com/djcunningham0/multielo.git
  Cloning https://github.com/djcunningham0/multielo.git to /tmp/pip-req-build-cx1byehj
  Running command git clone --filter=blob:none --quiet https://github.com/djcunningham0/multielo.git /tmp/pip-req-build-cx1byehj
  Resolved https://github.com/djcunningham0/multielo.git to commit 440f7922b90ff87009f8283d6491eb0f704e6624
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /home/resende/Developer/monaco/williams/env/lib/python3.10/site-packages (from multielo==0.4.1) (1.24.1)
Requirement already satisfied: pandas in /home/resende/Developer/monaco/williams/env/lib/python3.10/site-packages (from multielo==0.4.1) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /home/resende/Developer/monaco/williams/env/lib/python3.10/site-packages (from pandas->multielo==0.4.1) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/resende/Developer/monaco/williams/env/lib/python3.10/site-packages (from pandas->multielo==0.4.1) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/resende/Developer/monaco/williams/env/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->multielo==0.4.1) (1.16.0)
Installing collected packages: multielo
  DEPRECATION: multielo is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for multielo ... done
Successfully installed multielo-0.4.1

In [2]:
finishes

[[['1069', '1'], ['746', '2'], ['622', '0']],
 [['1006', '3'], ['643', '0'], ['597', '1']],
 [['1007', '2'], ['885', '1'], ['845', '0']],
 [['1003', '3'], ['833', '2'], ['753', '0']],
 [['1019', '3'], ['842', '0'], ['706', '1']],
 [['1000', '3'], ['980', '2'], ['819', '0']],
 [['1029', '1'], ['796', '2'], ['654', '0']],
 [['1002', '0'], ['704', '3'], ['488', '1']],
 [['1019', '2'], ['917', '1'], ['706', '0']],
 [['1022', '3'], ['877', '2'], ['742', '1']],
 [['1032', '1'], ['958', '3'], ['772', '0']],
 [['1019', '3'], ['775', '2'], ['677', '1']],
 [['1071', '1'], ['850', '2'], ['625', '0']],
 [['1000', '3'], ['841', '2'], ['826', '0']],
 [['1001', '1'], ['790', '2'], ['623', '0']],
 [['1003', '3'], ['825', '2'], ['704', '1']],
 [['1003', '3'], ['795', '2'], ['769', '0']],
 [['1001', '3'], ['640', '1'], ['638', '2']],
 [['1134', '1'], ['978', '3'], ['675', '0']],
 [['1024', '3'], ['815', '2'], ['727', '0']],
 [['1092', '1'], ['905', '3'], ['677', '0']],
 [['1000', '3'], ['813', '1'], ['719', '2']],
 [['1008', '2'], ['995', '3'], ['845', '0']],
 [['1043', '3'], ['794', '2'], ['722', '1']]]

In [3]:
podium = list(map(lambda x: list(map(lambda y: y[1], x)), finishes))

In [4]:
podium

[['1', '2', '0'],
 ['3', '0', '1'],
 ['2', '1', '0'],
 ['3', '2', '0'],
 ['3', '0', '1'],
 ['3', '2', '0'],
 ['1', '2', '0'],
 ['0', '3', '1'],
 ['2', '1', '0'],
 ['3', '2', '1'],
 ['1', '3', '0'],
 ['3', '2', '1'],
 ['1', '2', '0'],
 ['3', '2', '0'],
 ['1', '2', '0'],
 ['3', '2', '1'],
 ['3', '2', '0'],
 ['3', '1', '2'],
 ['1', '3', '0'],
 ['3', '2', '0'],
 ['1', '3', '0'],
 ['3', '1', '2'],
 ['2', '3', '0'],
 ['3', '2', '1']]

In [5]:
f = pd.DataFrame(podium, columns=["first","second","third"])

In [6]:
f

   first second third
0      1      2     0
1      3      0     1
2      2      1     0
3      3      2     0
4      3      0     1
5      3      2     0
6      1      2     0
7      0      3     1
8      2      1     0
9      3      2     1
10     1      3     0
11     3      2     1
12     1      2     0
13     3      2     0
14     1      2     0
15     3      2     1
16     3      2     0
17     3      1     2
18     1      3     0
19     3      2     0
20     1      3     0
21     3      1     2
22     2      3     0
23     3      2     1

In [48]:
f["first"].value_counts()

3    13
1     7
2     3
0     1
Name: first, dtype: int64

In [8]:
f["second"].value_counts()

2    13
3     5
1     4
0     2
Name: second, dtype: int64

In [9]:
f["third"].value_counts()

0    15
1     7
2     2
Name: third, dtype: int64

In [37]:
most_winner = f["first"].value_counts().index[0]

In [40]:
most_winner

'3'

In [43]:
f[f["second"] == most_winner]["first"].value_counts()

1    3
0    1
2    1
Name: first, dtype: int64

In [42]:
f[f["third"] == most_winner]["third"].value_counts()

Series([], Name: third, dtype: int64)

In [46]:
from multielo import MultiElo
import numpy as np

elo = MultiElo()


elos= {}
for i, car in enumerate(contractNames) :
    elos[i] = 1500


for index, row in f.iterrows():
    firstElo = elos[int(row["first"])]
    secondElo = elos[int(row["second"])]
    thirdElo = elos[int(row["third"])]
    np_a = np.array([firstElo, secondElo, thirdElo])
    new_elos = elo.get_new_ratings(np_a)
    elos[int(row["first"])] = new_elos[0]
    elos[int(row["second"])] = new_elos[1]
    elos[int(row["third"])] = new_elos[2]

In [47]:
elos

{0: 1319.306898690574,
 1: 1518.4381859299137,
 2: 1510.3825308691848,
 3: 1651.8723845103275}